{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="{{ asset('/css/estiloregistro.css') }}" type="text/css">
    {% endblock %}
{% endblock %}

{% block body %}
    {% if app.user %}
        {% if is_granted('ROLE_BANDA') == true %}
            {{ form(form) }}
        {% else %}
            <p>No tienes permisos para insertar una noticia nueva</p>
        {% endif %}
    {% endif %}
{% endblock %}